<div class="container">
  <div class="row">
    <div class="column">
      <%= game_state(@tally) %>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <%= render "_gallows.html", turns_left: @tally.turns_left, conn: @conn %>
    </div>
    <div class="column">
      <%= render "_status.html", tally: @tally, conn: @conn %>
    </div>
  </div>
</div>
